/* Universal styles */
html {
  font-size: 18px;
  font-family: "Helvetica", sans-serif;
}

.site-container {
  display: flex;
  flex-direction:column;
  align-items: center;
}

/* Header section */

.graphic-header {
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  height: 31rem;
}

.top-banner {
  background-color: cadetblue;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Modify for narrower screens/devices */
    width: 960px;
    margin-top: 1rem;
}

.company-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.company-logo>img {
  height: 1.5rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

nav>ul {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

nav>ul>li {
  margin-right: 2rem;
}




/* Media queries & CSS display for smaller screen sizes */

@media only screen and (max-width: 1098px) {
  .top-banner {
    width: 100%;
    margin-top: 0;
  }

  .graphic-header {
    height: 22rem;
  }
}

@media only screen and (max-width: ) {

}
